*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background-color: transparent;
    font-family: 'Poppins', sans-serif;
}
body {
    background: black;
    color: white;
    overflow: hidden;
    overflow-y: scroll;

}

#tsparticles {
  position: fixed !important;
  z-index: -1;
  top: 0;
  left: 0;
}

.main-content {
  position: relative;
  z-index: 1;
}
body, html {
  overflow-x: hidden;
}

